footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerContent{
    display: flex;
    justify-content: space-between;
    width: 260px;
    padding: 20px 40px;
    background: #000;
    margin-bottom: 10px;
    border-radius: 20px;
}

.footerItem svg{
    fill: #fff;
}

.footerItemActive svg{
    fill: #FF5C00;
}


/* 
@media(min-width: 320px) and (max-width: 550px){

    footer{
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        background: #000;
    }
    
    .footerContent{
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 20px 0;
        margin-bottom: 0;
    }

    .footerItem svg{
        fill: #fff;
    }

    .footerItemActive svg{
        fill: #FF5C00;
    }

} */